# executables & build stuff
*.exe
*.out
*.o
*.obj
/build/
/bin/
/Debug/
/Release/

# Visual Studio Code # 
.vscode/* 
.vscode/settings.json
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history.vscode/settings.json
Week4/Matrixes/test
.gitignore
Week4/Matrixes/test.cpp
Week4/Matrixes/matrix_mult_bad.in
Week4/Matrixes/matrix_mult.in
Week4/Matrixes/matrixClient
Week4/LinkedList/stack_L_TClient_part1.cpp
Week4/LinkedList/stack_L_TClient_part2.cpp
Week3/random.cpp
Week4/LinkedList/BST_T
Week4/LinkedList/test
.gitignore
Week4/LinkedList/test.cpp
Week4/LinkedList/.vscode/settings.json
Week5/House/.vscode/settings.json
Week5/House/house
